body {
  background: #0f0f0f;
}

img.skill {
  height: 15rem;
  margin-left: auto;
  margin-right: auto;
  display: block
} 

#articles {
  background: #fff;
  padding-top: 90px;
  padding-bottom: 72px;
  overflow: hidden;
}

#articles a,
#articles a:visited {
  color: #11ABB0;
}

#articles a:hover,
#articles a:focus {
  color: #313131;
}

#articles h1 {
  font: 18px/24px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#articles h1 span {
  border-bottom: 3px solid #74FBFE;
  padding-bottom: 6px;
}

#articles h3 {
  font: 25px/30px 'opensans-bold', sans-serif;
}

#articles .header-col {
  padding-top: 9px;
}

#articles .main-col {
  padding-right: 10%;
}

#articles .info {
  font: 16px/24px 'librebaskerville-italic', serif;
  color: #6E7881;
  margin-bottom: 18px;
  margin-top: 9px;
}

#articles .info span {
  margin-right: 5px;
  margin-left: 5px;
}

#articles .date {
  font: 15px/24px 'opensans-regular', sans-serif;
  margin-top: 6px;
}

#articles h3.articles-title {
  font: 40px/45px 'opensans-semibold', sans-serif;
}

#articles h3.articles-empty-message {
  font: 15px/20px 'opensans-semibold', sans-serif;
}

.articles-title {
  margin-bottom: 4rem;
  color: #313131;
}

.loader-aligner {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

#articles h1 span {
  border: none;
  color: #11ABB0;
}

#articles h1 span:hover {
  cursor: pointer;
  color: #74FBFE;
}